<div class="contenedor">
    <h1>
        {{ title }}
    </h1>
    <div class="sub_contenedor">

        <div class="disclaimer">
            <h3>Disclaimer
            </h3>
            <p>
                Twpoints is a helper for <b>twitch.tv</b>.
            </p>
            <ul>
                <li>
                    Is not a Bot.
                </li>
                <li>
                    Is not a Hack.
                </li>
                <li>
                    It doesnt contains any malicious software.
                </li>
                <li>
                    It doesnt collect any information about users.
                </li>
                <li>
                    The only propouse of this extension it is help to users to get more points from their favourite
                    streamer.
                </li>
            </ul>
        </div>
        <div class="about">
            <h3>About</h3>
            <p>
                The idea was born due to lack of time to stay hitting points on the stream.
            </p>
        </div>
        <div class="links">
            <h3>
                Link
            </h3>
            <p>
                The link for the extension
                <a href="https://github.com/Masck01/Masck01.github.io">Github Project Twpoints</a>.

            </p>
        </div>
    </div>
    <div class="updates">
        <h3>
            Updates
        </h3>
        <p>
            Further updates will be posted here.
            Licenced 2021.
        </p>
    </div>
    <div class="development">

        <p>Site under development</p>
    </div>
</div>